# files and folders
*.node_modules/
*.main.js
*.win-unpacked/
*.builder-debug.yml
*.CDDA_JSON_Editor_v2.8.1_Setup.exe.blockmap
*.electron.exe
/CDDA_Json_Editor_Desktop_v2.7.3/dist/win-unpacked
/CDDA_Json_Editor_Desktop_v2.8.0/dist/win-unpacked/resources
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-release/builder-debug.yml
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-release/CDDA_JSON_Editor_v2.8.1_Setup.exe.blockmap
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-release/win-unpacked
/CDDA_Json_Editor_Desktop_v2.8.1/node_modules
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-final/win-unpacked.tmp
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-tested/win-unpacked.tmp
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-brackets-retry/win-unpacked
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-brackets/builder-debug.yml
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-brackets-retry/CDDA_JSON_Editor_v2.8.1_Setup.exe.blockmap
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-brackets-retry/builder-debug.yml
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-brackets/win-unpacked
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-built/builder-debug.yml
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-built/CDDA_JSON_Editor_v2.8.1_Setup.exe.blockmap
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-built/win-unpacked
