# files and folders
*.node_modules/
*.main.js
*.win-unpacked/
*.builder-debug.yml
*.CDDA_JSON_Editor_v2.8.1_Setup.exe.blockmap
*.electron.exe
/CDDA_Json_Editor_Desktop_v2.7.3/dist/win-unpacked
/CDDA_Json_Editor_Desktop_v2.8.0/dist/win-unpacked/resources
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-release/builder-debug.yml
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-release/CDDA_JSON_Editor_v2.8.1_Setup.exe.blockmap
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-release/win-unpacked
/CDDA_Json_Editor_Desktop_v2.8.1/node_modules
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-final/win-unpacked.tmp
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-tested/win-unpacked.tmp
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-brackets-retry/win-unpacked
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-brackets/builder-debug.yml
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-brackets-retry/CDDA_JSON_Editor_v2.8.1_Setup.exe.blockmap
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-brackets-retry/builder-debug.yml
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-brackets/win-unpacked
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-built/builder-debug.yml
CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-built/CDDA_JSON_Editor_v2.8.1_Setup.exe.blockmap
/CDDA_Json_Editor_Desktop_v2.8.1/dist-2.8.1-built/win-unpacked
/CDDA_Json_Editor_Desktop_v2.8.2/node_modules
/CDDA_Json_Editor_Desktop_v2.8.2/dist-v2.8.2/win-unpacked.tmp
/CDDA_Json_Editor_Desktop_v2.8.2/dist/win-unpacked.tmp
/CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-final/win-unpacked.tmp
/CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-final/win-unpacked
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-final/cdda-json-editor-desktop-2.8.2-x64.nsis.7z
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-final/CDDA_JSON_Editor_v2.8.2_Setup.exe.blockmap
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-final/builder-debug.yml
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-validation-final/CDDA_JSON_Editor_v2.8.2_Setup.exe.blockmap
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-validation-final/builder-debug.yml
/CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-validation-final/win-unpacked.tmp
/CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-validation-final/win-unpacked
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-validation/builder-debug.yml
/CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-validation/win-unpacked.tmp
/CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-validation/win-unpacked
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-validation/CDDA_JSON_Editor_v2.8.2_Setup.exe.blockmap
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-app-test-final/builder-debug.yml
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-app-test-final/CDDA_JSON_Editor_v2.8.2_Setup.exe.blockmap
/CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-app-test-final/win-unpacked
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-five-features-final/builder-debug.yml
CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-five-features-final/CDDA_JSON_Editor_v2.8.2_Setup.exe.blockmap
/CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-five-features-final/win-unpacked
/CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-five-features/win-unpacked
/CDDA_Json_Editor_Desktop_v2.8.2/dist-2.8.2-five-features
